/* Global Styles */
body{
    background-color: ivory;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Both devices */
/* Layout */
header {
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
  }
  
  main {
    position: relative;
    top: 4rem;
  }
  
  /* Patterns */
  button {
    height: 4rem;
    background-color: #303030;
    color: white;
    border: none;
    font-size: 1.2rem;
    flex-shrink: 1;
    border-radius: 2px;
  }
  
  .white {
    background-color: white;
  }
  
  .dark {
    background-color: #d8d8d8;
  }
  


/* Patterns */

/* Text styles */
a {
    text-decoration: none;
    color: #1b1818;
    line-height: 1rem;
  }
  
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
  }
  
.bold {
    font-weight: bolder;
    font-family: cursive;
}

.light {
    font-weight: lighter;
    font-family: cursive;
}

/* Sections */
/* Cover */
.cover {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
  }
/* Articles */

/* Courses */

/* Thesis */

/* Desktop */
@media only screen and (min-width: 801px) {

    .mobile{
        display: none;
    }
    /* Patterns */
    button{
        width: 20rem;
    }

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      #logo {
        height: 2rem;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    
      nav {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: flex-end;
        margin-right: 1rem;
      }
    
      li {
        margin-left: 1rem;
        font-size: 1rem;
        display: inline;
        align-items: right;
      }

    /* Footer */
    
    /* Layout patterns */

    /* Sections */
        /* Cover */
        .cover h1 {
            font-size: 3rem;
            line-height: 3rem;
        }

        .cover h2 {
            font-size: 1.5rem;
            text-justify: auto;
        }

        .cover .pic img {
            width: 100%;
            padding: 2rem 0rem 2rem 1.5rem;
        }

        .cover .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 3rem;
        }

        /* Articles */

        /* Courses */

        /* Thesis */


}

/* Mobile */
    /* Patterns */

    /* Text Styles */
    
    /* Headers */
    
    /* Footer */
    
    /* Sectoions */
        
        /* Cover */
    
        /* Articles */

        /* Courses */

        /* Thesis */

